# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @joelanford @theishshah @jberkhahn @fabianvf @varshaprasad96 @rashmigottipati @everettraven @oceanc80 @csviri @metacosm @andreaTP @anik120 @dtfranz @grokspawn @kevinrizza @perdasilva @tmshort @ankitathomas @camilamacedo86 @bentito @OchiengEd @thetechnick @pedjak @trgeiger @dymurray @jwmatthews @JonathanR19 @rromannissen @savitharaghunathan @tamintheclouds @tsanders-rh 
